@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --bg-general: hsl(212, 46%, 89%);
  --bg-container: hsl(0, 0%, 100%);
  --color-heading: hsl(217, 45%, 22%);
  --color-para: hsl(219, 15%, 55%);
}

body {
  background-color: var(--bg-general);
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}

h1 {
  font-size: 22px;
  line-height: 1.2;
  color: var(--color-heading);
  font-weight: 700;
}

p {
  font-size: 15px;
  color: var(--color-para);
  font-weight: 400;
}

main {
  width: 320px;
  background-color: var(--bg-container);
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
}

main .qr-code-img {
  width: 288px;                          
  height: 288px;
  border-radius: 10px;
  margin-bottom: 16px;
}


main .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  padding: 0 12px;
}

footer {
  margin-top: 16px;
}

.attribution { font-size: 11px; text-align: center; color: black;}
.attribution a { color: black; }

@media only screen and (max-width: 375px)
{

}






