

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --bg-general: hsl(212, 46%, 89%);
  --bg-container: hsl(0, 0%, 100%);
  --color-heading: hsl(217, 45%, 22%);
  --color-para: hsl(219, 15%, 55%);
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--bg-general);
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img,
picture {
  max-width: 100%;
  display: block;
  text-align: center;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.2;
  color: var(--color-heading);
  font-weight: 700;
}

p {
  font-size: 0.938rem;
  color: var(--color-para);
  font-weight: 400;
}

.qr-code-container {
  max-width: 20rem;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  background-color: var(--bg-container);
}

.qr-code-img {
  border-radius: 10px;
  margin-bottom: 16px;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  padding: 0 12px;
}

.attribution { 
  font-size: 0.688rem; 
  margin-top: 16px;
  text-align: center; 
  color: black;

}

.attribution a { 
  color: black;
}







